.base {
  outline: none;
  color: #fff;
  background-color: #b91c1c;
  border-radius: 9999px;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.btn-card-in {
  background-color: #1dbe46;
  max-width: 200px;
  min-width: 200px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: background 0.2s;
}


.btn-card-out {
  background-color: red;
  width: 200px;
  min-width: 120px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: background 0.2s;
}


.btn-quantity {
  background-color: #059669;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
}